<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Adsense Test Ad -->
<ins class="adsbygoogle"
style="display:inline-block;width:300px;height:250px"
data-ad-client="ca-pub-1766155508535536"
data-ad-slot="7121302404"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<!-- <html>
   <body>
      <div id="googleadgoeshere"></div>
   </body>
</html>
<div id="adsense" style="display:none;">all the google javascript goes here</div>
$(window).load(function(){
    $("#adsense").find("iframe").appendTo("#googleadgoeshere"); 
    $("#adsense").remove();
}); -->
</body>
</html>