<!DOCTYPE html>
<html>
<head> 


<meta name="viewport" content="width=device-width, user-scalable=no" />

</head><body>
<div id="slot" style="height:300px; width:250px;"></div>
<!--<script type="text/javascript"> window.mopub = [{ ad_unit: "a958373c114943a999737af7e39507e7", ad_container_id: "slot"}];
	(function() { var mopubjs = document.createElement("script");
	mopubjs.async = true; mopubjs.type = "text/javascript"; 
	mopubjs.src = "//d1zg4cyg8u4pko.cloudfront.net/mweb/mobileweb.min.js"; 
	var node = document.getElementsByTagName("script")[0];
	node.parentNode.insertBefore(mopubjs, node); })();
	</script>-->
	<script type="text/javascript">
  window.mopub = [{
    ad_unit: "a958373c114943a999737af7e39507e7",
    ad_container_id: "slot", // Specify the div or container to which you’d like to the mobile web tag
    ad_width: 300,
    ad_height: 250,
    keywords: ""// Optionally pass keywords as a comma separated list
  } ]; // To load additional ad units, add another object into the array.
  
  (function() {
    var mopubjs = document.createElement("script");
    mopubjs.async = true;
    mopubjs.type = "text/javascript";
    mopubjs.src = "//d1zg4cyg8u4pko.cloudfront.net/mweb/mobileweb.min.js";
    var node = document.getElementsByTagName("script")[0];
    node.parentNode.insertBefore(mopubjs, node);
  })();
</script>
</body>

</html>


